@model IEnumerable<library_managment_system.Models.Book>

@{
    ViewData["Title"] = "All Books";
}
<div class="main-banner" id="top">
<section class="section courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Library Management System</h6>
                    <h2>Available Books</h2>
                </div>
            </div>
        </div>
        <div class="row event_box">
            @foreach (var book in Model)
            {
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="~/Images/@book.Image" alt="@book.Name" style="width:100%; height:450px; object-fit:cover;" /></a>
                            <span class="category">Available Copies: @book.AvailableCopies</span>
                        </div>
                        <div class="down-content">
                            <h4>@book.Name</h4>
                            <h4>
                                <span class="price"><span style="font-size: 14px;">Total: @book.TotalCopies</span></span>
                            </h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div></div>
